* {
    box-sizing: border-box;
}

body {
    background: #5395f1;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 100vh;
}

h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 450px;
}

.circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fff;
    margin: 8px;
    cursor: pointer;
    transition: transform 0.3s linear;
}

.circle.grow {
    transform: scale(2);
}